.CardContainer {
  position: relative;  
  height: calc(var(--vh, 1vh) * 90);
  width: calc(var(--vh, 1vh) * 51);
  margin-top: calc(var(--vh, 1vh) * 5);
  margin-bottom: calc(var(--vh, 1vh) * 5);

  border-radius: 16px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
}

.CardContainer:hover {
  box-shadow: 0px 0px 6px 0px rgba(255, 195, 76, 1);
}

.CardHeader {
  position: absolute;
  top: 0%;
  width: 100%;
  height: calc(var(--vh, 1vh) * 10);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: rgba(0,0,0,0.5);
  border-radius: 16px 16px 0px 0px;
}

.CardBody {
  position: relative;
  top: calc(var(--vh, 1vh) * 10);
  height: calc(var(--vh, 1vh) * 68);

  box-shadow: inset 0 0 10px black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.CardFooter {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: calc(var(--vh, 1vh) * 12);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0,0,0,0.5);
  border-radius: 0px 0px 16px 16px;
}

input[type=number][disabled] {
  background-color: rgb(0, 255, 0) !important;
  color: white !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.CardSubtitle {
  font-size: calc(10px + 1vmin);
}

@keyframes rainbow { 
  0%{background-position:0% 50%}
  50%{background-position:100% 25%}
  100%{background-position:0% 50%}
}

.rainbow-text {
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  text-align: center;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(var(--vh, 1vh) * 58);
  animation: rainbow 8s ease infinite;
  font-weight: bold;
  vertical-align: middle;
  /* margin-bottom: calc(var(--vh, 1vh) * 0); */
}